<html>
<link rel= "stylesheet" href= "{{ url_for('pashto_bp.static',filename='style/about.css') }}">
<body>

<div class="container" id="container">
	<div class = "holder" id ="holder" value="holder">		

		<div class="definition" id="definition" value="definition">
			
			<p>Hello.</p>

			<p>This is one of the few digital dictionaries of Pashto.</p>

			<p>It is a digital version of a dictionary written about 200 years ago. </p>

			<p>It is backed by a custom and fast search algorithm based on Tf-idf.</p>

			<p>I created it with the help of <a href="kind_people">these</a> kind people.</p>

			<p>This is the beginning of what I hope to be a broader project of making Pashto a language of the internet.</p>

			<p> I have plans for digitizing Pashto literature.</p>

			<p> I present this in its current form, in the hopes that perhaps 200 years in the future, someone will build upon it.</p>

			<p> This work builds on the University of Chicago's Digital Dictionaries of South Asia project</p> 

			<p> If you would like to know more about this project, read my <a href = "#">blog post </a>(coming soon) on it. </p> 


			<p>Emad<br>
				8th September 2020
			</p>

			


		</div>

	</div>

</div>


</body>

</html>
