<html>
<link rel= "stylesheet" href= "{{ url_for('pashto_bp.static',filename='style/about.css') }}">
<body>

<div class="container" id="container">
	<div class = "holder" id ="holder" value="holder">
<!--		<div class="About" id="About" value="About"><u>About</u></div> -->
		

		<div class="definition" id="definition" value="definition">
			
			<p> This project arose as a result of a conversation with my friend and doctoral candidate at UC Berkeley's Near Eastern Department, Syed Shiraz Ali, of bringing Pakistani languages into the digital realm. Pashto, being my mother tongue and taking into account the good work that is being done by others for Urdu, was the natural choice.</p><p> This project arose as a result of a conversation with my friend and doctoral candidate at UC Berkeley's Near Eastern Department, Syed Shiraz Ali, of bringing Pakistani languages into the digital realm. Pashto, being my mother tongue and taking into account the good work that is being done by others for Urdu, was the natural choice.</p>

			<p>Over the course of 4 months, this project, building upon the work of the Digital Dictionaries of South Asia of the University of Chicago, resulted in the creation of an advanced and easy to use dictonary for the Pashto language.</p>

			<p>In the future, I hope to build upon this work and get you guys some good stuff ok?</p>
			


		</div>

	</div>

</div>


</body>

</html>
