<html>
<link rel= "stylesheet" href= "{{ url_for('pashto_bp.static',filename='style/about.css') }}">
<body>

<div class="container" id="container">
	<div class = "holder" id ="holder" value="holder">		

		<div class="definition" id="definition" value="definition">
			
			<p>Hello.</p>


			<p>This is a Pashto to English dictionary written about 200 years ago by Henry George Raverty, a British colonial linguist. It was first digitized by the University of Chicago's Digital Dictionaries of South Asia project.
			</p>

			<p>This is the beginning of what I hope to be a broader project of digitizing Pashto language and literature.</p>

			<p>Some features that this project adds on are a very fast, scalable search algorithm, responsive interface and accessibility. 
			</p>

			<p>I created it with the help of <a href="kind_people">these</a> kind people.</p>
 			
 			

			<p>
				<i>Emad Siddiq</i><br>
				<i>8th September 2020</i>
			</p>

			


		</div>

	</div>

</div>


</body>

</html>
