<html>
<link rel= "stylesheet" href= "{{ url_for('pashto_bp.static',filename='style/about.css') }}">
<body>

<div class="container" id="container">
	<div class = "holder" id ="holder" value="holder">		

		<div class="definition" id="definition" value="definition">
			
			<p><a href="#">Syed Shiraz Ali</a>, for giving me the idea and guiding me throughout the project.</p>

			<p><a href="#">Hamza Siddiq</a>, for his input on the UI and UX and for listening to a summer's worth of dictionary talk.</a></p>

			<p><a href="#">Ali Sher Hussain</a>, for his constant feedback and suggestions.</a></p>

		
		</div>

	</div>

</div>


</body>

</html>
