@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);

.titles {
	display:block;
	border-radius:3px;
	transition: all .2s ease-in-out;
	align-items:center;
	padding-left: 1%;
	margin: 3px;
	line-height: 1.5;

}

.paras {
	padding-left: 1.2%;
}

.titleEmad {
	font-family: 'Noto Kufi Arabic', "Noto Naskh Arabic UI", "Noto Sans UI", sans-serif;
	font-size: 40px;
}

.construction {
	color: #ffcc00;

}
.construction:hover {
	color: #ffcc00;

}
