<html>

<head>
<title> Emad Siddiq </title>
<meta property="og:title" content="Emad Siddiq">
<meta property="og:description" content="Portfolio">



<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('resume_bp.static',filename='styles/resume.css') }}">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<div class="container mt-2" >


<div class ="row">
<div class ="col titleEmad" align="center">
        <p dir="rtl" > عماد صدیق </p>
    </div>
  </div>

<!-- center part with buttons -->
<div class="row mb-4"/>
<div class="col" align ="center">
<a href="url_for('resume_bp.data',filename='Emad_Resume.pdf')" target="_blank"><button type="button" class="btn btn-link">Resume</button></a>
<a href="https://www.linkedin.com/in/emad-siddiq-2b9979164" target="_blank"><button type="button" class="btn btn-link ">LinkedIn</button></a>
<a href="mailto:emadsiddiq@berkeley.edu" target="_blank"><button type="button" class="btn btn-link ">Email</button></a>
</div>
</div>

<!-- About Me Section -->
	<div class = "row titles">
        <a href = "#"> About Me</a>
    </div>

    <div class = "row paras">
            <p>
              I am a rising senior at the University of California Berkeley, interested in Technology and Political Economy.
 			</p>
    </div>



<!-- Research Section -->
<div class ="row titles">
		 <a href = "https://www.law.berkeley.edu/our-faculty/faculty-profiles/sonia-katyal/"  target="_blank">Trademark Rebranding Project</a>
  </div>

  <div class="row paras">
            <p>
              The project was led by lead by Professor Sonia Katyal of Berkeley Law School. Under the supervision of <a href = "https://dlab.berkeley.edu/people/su-li"  target="_blank">Dr. Su Li</a>, I mined, cleaned, processed and analyzed massive datasets about corporate rebranding from 1884 to present day.
            </p>
    </div>



<!-- Projects Part -->
  <div class ="row titles"/>
        <a href="https://ocf.berkeley.edu/~emadsiddiq/goodnews" target="_blank"> Good News</a>
    </div>

<div class="row paras">
            <p>
              I used Natural Language Processing to gather good news on one page during the pandemic.
            </p>
        </div>

    <div class ="row titles"/>
        <a href="https://ocf.berkeley.edu/~emadsiddiq/pashto" target="_blank"> Digital Dictionary of the Pashto Language</a>
    </div>

<div class="row paras">
            <p>
              Created a modern, technologically advanced and efficient dictionary for my mother language, Pashto. 
            </p>
        </div>





</div>












</html>
