

@media screen and (min-width: 300px) {
    
body {
    font-family: Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-size: 20px;
    margin-top: 2%;
}

h1 {
    font-weight: 300;
}

h4 {
    font-weight: 300;
}
}


@media screen and (min-width: 850px)  {  
    body {
    margin-left: 30%;
    margin-right: 30%;
    background-color: blue;
    }
}
