body {
    font-family: Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-size: 19px;
    margin-left: 30%;
    margin-right:30%;
    margin-top: 2%;
}

h1 {
    font-weight: 300;
}

h4 {
    font-weight: 300;
}