html,
body {
  padding: 0;
  
  background-color:black;

  margin: 0;
  font-family: -apple-system, BaskervaldADFStd, Georgia,serif,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

a {
  color: inherit;
  text-decoration: none;
}