@media (min-width: 700px) {
  .container {
    display: grid;
    grid-template-rows: 5vh 23vh 40vh auto;
    grid-template-columns: 11vw 36vw 4vw 36vw 10vw;
    background-color: white;
    margin-top: 3vh;
    overflow: hidden;
    padding-bottom: 10%;
    grid-row: 2/3;
    grid-column: 2/9;
    display:flexbox;
  }

  .Title {
    text-align: center;
    grid-row: 2/2;
    grid-column: 1/11;
    width: 100%;
    padding-top: 1%;
    line-height: 150%;
  }

  .Title > h1 {
    font-weight: 400;
    font-size: 5vh;
  }

  .Title > p {
    font-size: 2vh;
    font-style: italic;
    font-weight: 250;
  }

  .PostDetails {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(45, 45, 45, 0.7);
    width: 95%;
    padding-left: 5%;
    height: 10vh;

    overflow: hidden;
  }
  .postTitle {
    font-size: 24px;
    color: white;
    font-weight: 600;
    margin-bottom: -1vh;
  }
  .postDate {
    font-weight: 400;
    font-size: 16px;
    margin-left: 0.25vw;
  }

  .Blogs {
    grid-row: 3/5;
    grid-column: 2/5;
    display: grid;
    gap: 4vw;
  }

  .Blog {
    height:50vh;
    margin-bottom: 5vh;
  }

  .AboutMe {
    grid-row: 3/3;

    grid-column: 2/2;
    margin: initial;
    font-size: 16px;
  }

}

@media (max-width: 700px) {
  .container {
    display: grid;
    grid-row: 2/3;
    grid-column: 2/9;
    grid-template-rows: 5vh 20vh auto;
    grid-template-columns: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: white;
    margin-top: 3vh;
    padding-bottom: 40vh;
  }

  .Title {
    text-align: center;
    grid-row: 2/2;
    width: 100%;
    padding-top: 1%;
    line-height: 150%;
  }

  .Title > h1 {
    font-weight: 400;
    font-size: 5vh;
  }

  .Title > p {
    font-size: 2vh;
    font-style: italic;
    font-weight: 250;
  }

  .PostDetails {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgb(0, 0, 0, 0.8);
    width: 95%;
    padding-left: 5%;
    height: 30%;
    line-height: 60%;

    overflow: hidden;
  }
  .PostDetails > h1 {
    font-size: 2.6vh;
    font-weight: 500;
  }
  .PostDetails > p {
    font-size: 2vh;
    font-weight: 400;
  }

  .Blogs {
    grid-row-start: 3;
    display: grid;
  }

  .Blog {
    height: 32vh;
    margin-bottom: 5vh;
  }
}
