@import url(//fonts.googleapis.com/earlyaccess/notonaskharabic.css); 
body {
	font-size: 16px; 
	font-family: 'Helvetica', serif;
	background-image: url(../images/bukhara.jpg);
  	background-size: 100%;
	background-repeat:no-repeat;
	background-position-x:center;
	background-position-y:5vh;

}

.container {
	
	background-color:rgba(0, 0, 0, 0.85);

	text-align: left;

	touch-action:manipulation;
}

.holder {

	display:grid;
	grid-template-rows:4vh 96vh auto;
	grid-template-columns: repeat(10, 1fr);
	color:white;
}





.definition {
	margin-top:1vh;
	grid-row: 2/2;
	grid-column:2/10;
	font-size: 4.5vh;
	overflow: scroll;
}

a {
	color:#BE1C6A;
}



@media (min-device-width: 700px) {

body {
	background-size:auto;
}
	.container {
		
		margin:10vh 30vw calc(100vh - 300px) 30vw;
		border-radius:2vw;
	}
	.holder {
			
	}
}




















