

@import url(//fonts.googleapis.com/earlyaccess/notonaskharabic.css); 
body {
	font-size: 16px; 
	font-family: 'Noto Naskh Arabic', serif;
	background-image: url(../images/bukhara.jpg);
  	background-size: 100%;
	background-repeat:no-repeat;
	background-position-x:5vw 5vw;
	background-position-y:5vh;
	touch-action:manipulation;

}

.container {
	display: grid;
	grid-template-columns: repeat(10, 10vw);
	grid-template-rows: 5vh 5vh 60vh auto;
	
}

.about_content {
	grid-row: 2/4;
	grid-column:2/10;
	display:grid;
	grid-template-rows: 8vh auto;
	grid-template-columns: repeat(10, 1fr);
	background-color: rgba(255, 255, 255, 0.9);
	border: 0.5vw solid rgba(0, 0, 0, 0.15);
	border-radius: 10vw;
	
}

.heading {
	grid-row: 1/1;
	grid-column:1/11;
	text-align: center;
	font-size: 5.5vh;
	color: rgba(0, 0, 0, 0.86);
}

.content {
	grid-row: 2/3;
	grid-column: 1/11;
	overflow:scroll;
	margin-left: 10px;
	margin-right:10px;
	font-size:3vh;
}

.back {
	grid-row: 1/1;
	grid-column: 1/1;
	width: 5vw;
	height: 5vw;
}

.back > img {
	width: 130%;
	height: 160%;
}


@media (min-device-width: 700px) {
	body {
			background-size:auto;
		  background-position: center;
	}
.container {
	grid-template-rows: 5vh 5vh 80vh auto;
}
	
	.about_content{
		grid-column: 3/9;
	}
}

@media (min-device-width: 950px) {
	.about_content{
		grid-column: 4/8;
	}
}

@media (min-device-width: 1600px) {
	.about_content{
		grid-column: 5/7;
	}
}



