@import url(//fonts.googleapis.com/earlyaccess/notonaskharabic.css); 
body {
	font-size: 16px; 
	font-family: 'Noto Naskh Arabic', serif;
	background-image: url(../images/bukhara.jpg);
  	background-size: 100%;
	background-repeat:no-repeat;
	background-position-x:center;
	background-position-y:5vh;



}

.container {

	background-color:rgba(0, 0, 0, 0.85);
	touch-action:manipulation;
}

.holder {
	display:grid;
	grid-template-rows: 10vh 10vh 3vh 77vh;
	grid-template-columns: repeat(10, 1fr);
	color:rgba(255,255,255);
	overflow: scroll;
	
	

	
}
.copy {
	grid-row:1/1;
	grid-column: 10/10;
	width: 10vw;
	margin-right: 2vw;
	margin-top: 2vh;
}
.word {
	grid-row: 2/2;
	grid-column:1/11;
	text-align: center;
	font-size: 8vh;
	
}

.phonetic {
	grid-row: 3/3;
	grid-column:1/11;
	text-align: center;
	font-size: 4vh;

}


.definition {
		margin-top:3vh;
	grid-row: 4/4;
	grid-column:2/10;
	font-size: 4.5vh;
	
	font-family: "Times New Roman";
}



@media (min-device-width: 700px) {

body {
	background-size:auto;
}
.holder {
	display:grid;
	grid-template-rows: 10vh 10vh 3vh 600px auto;
	grid-template-columns: repeat(10, 1fr);
	color:rgba(255,255,255);
	
	

	
}
	.container {
		text-align: center;
		margin:10vh 30vw 0vh 30vw;
	}
	}
	
	




