@import url(//fonts.googleapis.com/earlyaccess/notonaskharabic.css); 
body {
	font-size: 16px; 
	font-family: 'Noto Naskh Arabic', serif;
	background-image: url(../images/border.svg);
  	background-size: 250%;
}

.container {
	display: grid;
	grid-template-columns: repeat(10, 10vw);
	grid-template-rows: repeat(10, 10vh);

}

.holder {
	direction:rtl;
	grid-row: 3/9;
	grid-column:1/11;
	display:grid;
	grid-template-rows: 8vh auto;
	grid-template-columns: repeat(10, 10vw);
	background-color: rgba(255, 255, 255, 0.9);
	border: 5vw solid rgba(0, 0, 0, 0.15);
	border-radius: 10vw;
	
}

.word {
	grid-row: 1/1;
	grid-column:1/11;
	text-align: center;
	font-size: 5.5vh;
	color: #424242
}

.phonetic {
	grid-row: 2/2;
	grid-column:1/11;
	text-align: center;
	font-size: 2vh;
	color: #424242
}


.definition {
	margin-top:20px;
	grid-row: 4/8;
	grid-column:2/10;
	font-size: 3vh;
	margin-top: 5vh;
	overflow: scroll;
}

.back {
	grid-row:1/1;
	grid-column:1/1;
	font-size: 7vh;
	text-shadow: 8px 8px 6px black;
	color:  #4285f4;
	text-align: left;
	margin: 1vw;
	font-weight: 999;
	color: white;

}


