@import url(//fonts.googleapis.com/earlyaccess/notonaskharabic.css); 
body {
font-size: 16px;
font-family: 'Noto Naskh Arabic', serif;
	background-image: url(../images/bukhara.jpg);
    background-size: 100%;
	background-repeat:no-repeat;
	background-position-x:center;
	background-position-y:5vh;

}

.container {
	font-family: 'Noto Naskh Arabic', serif;
	display:grid;
	grid-template-rows: 5vh 10vh 1100px;
	grid-template-columns: 4vw repeat(10, 1fr) 8vw;
	touch-action: manipulation;

}
.back {
	grid-row: 1/1;
	grid-column: 1/1;
	width:10vw;
	height: 5.5vw;
}

.back > img {
	width: 130%;
	height: 160%;
}




.search_area {
grid-row:2/2;
	grid-column: 2/10;

}

input,text_area, search{
  width:90vw;
	height:8vh;
	border-radius: 3vh;
	font-size:4vh;

}



.suggestions_box {
		grid-row:3/3;
		grid-column:2/13;
		font-size:4vh;
   margin-right:8vw;
	margin-left:5vw;
		background-color:rgba(255, 255, 255, 0.8);
		border: 1px solid;
		border-radius: 2vw;
		overflow: scroll;
	}
	
	.suggestion {
		border-width: 0px 0px 3px 0px;
		border-style:solid;
		border-color:rgba(0, 0, 0, 0.2);
		text-align: center;
	
	}
	



